<div class="container-fluid">
  <section class="portifolio">
    <div >
      <h1>My Skills</h1>
      <p >Algumas skills que estou aprendendo e desenvolvendo </p>
    </div>
  </section>
  <section class="skills">
    <div class="skills">
      <div>
        <span>Angular</span>
        <span class="growing">50%</span>
      
      </div>
      <hr>
      <div>
        <span>JavaScrip</span>
        <span>90%</span>
      </div>
      <hr>
      <div>
        <span>HTML e CSS</span>
        <span>70%</span>
      </div>
      <hr>
      <div>
        <span>MySQL</span>
        <span>50%</span>
      </div>
      <hr>
      <div>
        <span>Java</span>
        <span>50%</span>
      </div>
      <hr>
      <div>
        <span>Arquitetura MFE</span>
        <span>90%</span>
      </div>
      <hr>
    </div>
  </section>
  <div>
    <span class="meter" style="width: 25%"></span>
  </div>
  <section>
    <h1>Projetos</h1>
    <div  class="projects">
      <div>
        <img src="../../../../../assets/projetoCrud.png" alt="">
        <p>CRUD básico Angular 8 + Spring-Boot + MySQL - Luigi Code</p>
      </div>
      <div>
        <img src="../../../../../assets/projetoAngular 9.png" alt="">
        <p>Angular 9 + Spring Boot 2.2: Fullstack Completo e Atualizado - Udemy</p>
      </div>
      <div>
        <img src="../../../../../assets/portifolioAng.png" alt="">
        <p>Portifólio em Angular</p>
      </div>
      <div>
        <img src="../../../../../assets/portifolioBoots.png" alt="">
        <p>Portifólio em Bootstrap</p>
      </div>
    </div>
  </section>
</div>