<div class="container-fluid">
    <div class="row">
        <div class="nav">
            <div class="title">
                <span class="name">Elaine Molina</span>
                <img src="/assets/molina.jpg">
            </div>
            <div class="message">
                <p>Seja bem-vindo!</p>
                <span class="highlight"> Meu nome é Elaine Molina, sou desenvolvedora Fullstack</span>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-github"></i>
                <hr>
            </div>
            <div class="items">
                <ul>
                    <li routerLink="home">Home</li>
                    <li routerLink="portifolio">Portifólio</li>
                    <li routerLink="blog">Blog</li>
                </ul>
                <a href="mailto:molinaelaine10@gmail.com">molinaelaine10@gmail.com</a>
            </div>
        </div>
        <div class="col-10 content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>