.container-fluid{
    font-family: "Nunito";
    display: flex;
    flex-wrap: wrap;
    max-width: 76%;
    width: 970px;
    height: 560px;
    margin: 0;
}

.home{
    color: #6B705C;
    max-width: 100%;
    width: 1028px;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
} 

i{
    font-size: 3em;
    margin: 20px 20px;
}
.home p{
    font-size: 1.50em;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.home h1{
    margin: 40px 30px;
}
