* {
    box-sizing: border-box;
    font-family: "Nunito";
    font-weight: bold;
}

.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #6B705C;
    max-width: 100%;
    margin-left: 22%;
    width: 1000px;
    padding: 15px 10px;
} 

i{
    font-size: 3.75em;
    margin:  15px;
    align-content: flex-end;
    
}

p{
    font-size: 1.50em;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

h1{
    margin: 20px 30px;
    justify-content: flex-start;
    font-size: 2.75em;
    font-weight: 800;
}
