<div class="container-fluid">
    <div>
        <div class="home">
            <h1>Objetivo</h1>
            <p>Este portifólio tem por objetivo demonstrar as atividades realizadas através de cursos e treinamentos acompanhado pela equipe de squad onde atuo como desenvolvedora.
                Os dados apresentados são meramente ilustrativos porém, almejados.</p>
        </div>
        <div class="home">
            <h1>IDEs Tools</h1>
        </div>
        <div class="home">
            <i class="devicon-java-plain"></i>
            <i class="devicon-intellij-plain"></i>
            <i class="devicon-angularjs-plain"></i>
            <i class="devicon-bootstrap-plain"></i>
            <i class="devicon-figma-plain"></i>
            <i class="devicon-mysql-plain-wordmark"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-jira-plain-wordmark"></i>
            <i class="devicon-spring-plain"></i>
        </div>
    </div>
</div>