<div class="container-fluid">
    <section>
        <div class="blog">
            <h1>Blog</h1>
            <p>Alguma coisa referente aos blogs</p>
        </div>
    </section>
    <section>
        <div class="themes">
            <div>
                <img src="../../../../../assets/blogInterceptor.png" alt="">
                <p>Interceptor Angular</p>
            </div>
          <div>
                <img src="../../../../../assets/blogDiretivas.png" alt="">
                <p>Entendendo Diretivas Angular</p>
          </div>
          <div>
                <img src="../../../../../assets/blogPO.png" alt="">
                <p>Dicas de um PO acelerado</p>
          </div>
           <div>
                <img src="../../../../../assets/blogColega.png" alt="">
                <p>Como ser solicito e ajudar um colega em dificuldade no desenvolvimento </p>
           </div>
           <div>
                <img src="../../../../../assets/blogMFE.png" alt="">
                <p>MFE Angular</p>
           </div>
        </div>
    </section>
</div>